.products {
    width: 90%;
    margin: auto;

    .product-list-header {
        width: 80%;
        margin: 0 auto;
        .eyebrow-key {
            font-size: 2.0rem;
            color: #fc6348;
            margin: 20px 0px;
        }
        .eyebrow-delivery {
            font-size: 1.6rem;
            color: #23b9d2;
            text-transform: uppercase;
            overflow: hidden;

            &:after {
                content: '';
                border-bottom: 2px solid #23b9d2;
                display: inline-block;
                width: 100%;
                margin-right: -100%;
                margin-left: 10px;
            }
        }
    }
    
    .product-list {
        display: flex;
        width: 90%;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
    
        .product-item {
            width: 33%;
            height: 260px;
            text-align: center;
            
            img {
                cursor: pointer;
                transform: rotate(-45deg);
                width: inherit;
                height: 155px;
            }
        }
    }

    .checkout-button {
        position: fixed;
        bottom: 200px;
        right: 0px;
        width: 85px;
        height: 60px;
        
        button {
            background-color: #fc6348;
            color: white;
            cursor: pointer;

            &::before {
                content: 'Check Out!';
                color: black;
                background-color: whitesmoke;
                height: 35px;
                position: absolute;
                top: -15px;
                left: -45px;
                width: 100%;
                box-shadow: 0 5px 5px -2px #7c7a7a;
                transform: rotate(-45deg);
            }
        }
    }
}