#modal {
    z-index: 999;

    .modal-box {
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        

        .modal-content {
            position: relative;
            height: 70%;
            width: 70%;
            background-color: white;
            .close-modal {
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
            }
        }
    }
}
